# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

WebAngularRAC/bin/
WebAngularRAC/obj/
ReadMe_First
WebAngularRAC/bin/Debug/net46/win7-x86/Microsoft.AspNetCore.JsonPatch.dll
WebAngularRAC/bin/Debug/net46/win7-x86/Microsoft.Extensions.PlatformAbstractions.dll
WebAngularRAC/bin/Debug/net46/win7-x86/WebAngularRAC.deps.json
WebAngularRAC/bin/Debug/net46/win7-x86/WebAngularRAC.exe
WebAngularRAC/bin/Debug/net46/win7-x86/WebAngularRAC.exe.config
WebAngularRAC/bin/Debug/net46/win7-x86/WebAngularRAC.pdb
WebAngularRAC/obj/project.assets.json
WebAngularRAC/obj/WebAngularRAC.csproj.nuget.g.props
WebAngularRAC/obj/WebAngularRAC.csproj.nuget.g.targets
WebAngularRAC/obj/Debug/net46/win7-x86/WebAngularRAC.AssemblyInfo.cs
WebAngularRAC/obj/Debug/net46/win7-x86/WebAngularRAC.csproj.FileListAbsolute.txt
WebAngularRAC/obj/Debug/net46/win7-x86/WebAngularRAC.exe
WebAngularRAC/obj/Debug/net46/win7-x86/WebAngularRAC.pdb
SqlDatabase
